
#abutton{
    font-size: 12px !important;
    padding: 8px 25px !important;
  box-shadow: 5px 5px #b3b3b3 !important;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  }
  
  
  #abutton:active {
    background-color: #0084ff !important;
    box-shadow: 4px 4px #b3b3b3 !important;
    transform: translateY(2px) !important;
    color: #ffffff !important;
  }

