<div class="row">
    <div class="col">
      <section id="services">
        <div class="container" id="p30" style="padding: 150px;">

          <div class="row">
            <div class="col" id="about">
              <div class="row">
                <div class="col-md-4 col-sm-12 text-left"  id="aboucen">
                  <div id="aboutdesign">Projects</div>
                </div>
                <div class="col col-sm-0" >
                  <div id="lines" class="d-none d-md-block"></div>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <div class="container">
                <div class="row">

                  <div class="col-lg-4 col-md-6 col-sm-12 mt-4" *ngFor="let card of projectData">
                    <a href="{{card.url}}" target="_blank" style="text-decoration: none; color: black;"> 
                      <div class="card servicesText">
                      <div id="cardimg">
                        <img width="100%" src="{{card.imageURL}}">
                      </div>
                      <div class="card-body">
                        <p class="card-title mt-3"><b>{{card.name}}</b></p>
                        <p class="card-text mt-3">{{card.details}}
                        <p><span><b>Category</b>:{{card.category}}</span></p>
                        <p><span><b>Launched</b>: {{card.lauched}}</span></p> 
                       
                      </div>
                    </div>
                  </a>
                   
                  </div>
                 


       
              </div>
            </div>
          </div>




        </div>
<!--         
        <div class="row">
          <div class="col" id="showmore">
            <button class="button" id="showmorebtn">Show more</button>

            <button class="button" id="showlessbtn">Show less</button>
          </div>
        </div> -->

        </div>
      </section>
    </div>

  </div>