.mesg{
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 182, 39);
    margin: 30px 0px 0px;
}


#smeamsg{
    text-align: center;
    font-size: clamp(16px, 4vw, 40px);
    font-weight: bold;
    color: #1d1d1d;
    padding: 20px 0px 0px;
    line-height: 1.5;
  
  
  }
  #smeamsg2{
    text-align: center;
    font-size: clamp(20px, 6vw, 60px);
    font-weight: bold;
    color: #008eff;
    padding: 40px 0px 0px;
    line-height: 1.5;
  
  
  }